.chat-box-container {
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100% - 20px);

  .chat-box-messages {
    background-color: var(--ion-color-light-shade);
    border-radius: 5px;
    overflow: auto;
  }
}
