$elem-margin: 10px;
$img-size: 36px + ($elem-margin * 2);

.chat-message-container {
    display: grid;
    grid-template-columns: $img-size 1fr;
    background-color: red;
    border: 1px solid blue;
}

.chat-message {
  width: 75%;
  grid-column: 2;

  &:not(.chat-message-sent) {
    background-color: var(--ion-color-light-tint);
  }

    ion-card {
      margin: 0;
      padding: 0;
    }

    ion-card-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

  ion-card-title {
    font-size: 0.9em;
    margin-right: $elem-margin;
  }

  ion-card-subtitle {
    font-size: 0.8em;
  }
}

.chat-message-sent {
  margin-left: calc(25% - 10px);
}

ion-img {
  background-color: blue;
    align-self: end;
    margin: $elem-margin 0px ($elem-margin * 2) $elem-margin;
    max-height: $img-size;
    max-width: $img-size;

  &::part(image) {
    border-radius: 50%;
  }
}
