.survey-modal {
    --height: 76%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  .survey-modal::part(backdrop) {
    background: rgba(209, 213, 219);
  }
  
  .survey-modal ion-toolbar {
    --background: rgb(100 116 144);
    --color: white;
  }

.modal-field {
  --pading-start: 0px;
  --height: auto;
}

.exit-logo-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.modal-submit {
  margin: 15px;
}