.leaderboard-container {
  padding: 10px;
  text-align: left;
  max-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.team-box{
  display: flex;
  align-items: center;
  max-width: 100%;
  background-color: transparent;
  padding: 0px;
}

.spinner {
  position: absolute;
  top: 10%;
  left: 50%;
  
}

.button-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  ion-card-title {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .title {
    ion-card-title {
      font-size: 20px;
    }
  }
}