.profile-pic::part(image) {
  width: auto;
  margin: 15px auto;
  max-width: calc(100% - 30px);
}

.attribution-list {
  text-align: center;
}

.step-form {
  width: 100%;
}

.full-height {
  height: 100%;
}

.d-flex {
  display: flex;
}

@media (min-width: 1024px) {
  .z {
    margin-left: 35vw;
    margin-top: -15vh;
    padding-right: 40vw;
  }
}

@media (max-width: 1023px) {
  .z {
    margin-left: 40vw;
    margin-top: -15vh;
    padding-right: 40vw;
  }
}

@media (max-width: 850px) {
  .z {
    margin-top: 0vh;
    margin-left: 10vw;
    padding-right: 0vw;
  }
}

@media (max-width: 630px) {
  .z {
    margin-left: auto;
    margin-right: auto;
  }
}

.calendar {
  padding-left: 1em;
  padding-right: 1em;
}

@media (max-width: 414px) {
  .calendar {
    padding-left: 0em;
    padding-right: 0em;
  }
}
