.profile-pic::part(image) {
  width: auto;
  margin: 15px auto;
  max-width: calc(100% - 30px);
}

.attribution-list {
  text-align: center;
}

.step-form {
  width: 100%;
}

.full-height {
  height: 100%;
}
