$discord-margin: 10px;

.hidden {
  display: none;
}

ion-header {
  ion-toolbar {
    img {
      height: 56px;
      padding: 10px 0px 10px 10px;
    }

    ion-title {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
    }
  }
}

.walktober-background {
  --background: #a54c36;
}

.discord-widget {
  width: 100%;
  height: 0;
  min-height: 50vh;
}
