.error-info {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.error-link { 
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: darkgreen
}

.d-flex {
  display: flex;
}

.card-header {
  text-align: center;
}

.card {
  width: 50vw;
  margin: auto;
}
