
.admin-content{
    --background: url(../../assets/Walktober-graphic.png) center top;
}

.admin-col{
    text-align: center;
    vertical-align: middle;
    --ion-grid-columns: 16;
    font-family: ‘Oswald’, sans-serif;
    border: solid 1px var(--ion-color-light-contrast);
    color: #000
}

.admin-row:nth-of-type(even) {
    background-color: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
}

.admin-row:nth-of-type(odd) {
    background-color: #E8E8E8;
    color: var(--ion-color-light-contrast);
}

.header-col{
    font-weight: bolder;
    font-family: ‘Oswald’, sans-serif;
    border: solid var(ion-border-radius) var(--ion-color-light-contrast);
    background-color: var(--ion-color-primary);
}

.full-grid{
    --ion-grid-width: 100%;
}

.grid-title{
    font-weight: bold;
    font-size: x-large;
    background-color: var(--ion-color-tertiary);
    font-family: ‘Oswald’, sans-serif;
    border: solid 1px var(--ion-color-light-contrast);
}

.transparent-item{
    --ion-background-color: transparent;
}

.admin-button{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    font-family: ‘Oswald’, sans-serif;
    font-weight: bold;
}

.admin-button-small{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    font-family: ‘Oswald’, sans-serif;
}

.right-align-num{
    text-align: right;
}

.modal-button{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    bottom: 10px;
    right: 0;
    --ion-background-color: var(--ion-color-secondary);
}

.invis-grid-col{
    border: solid 0px #fff;
    background-color: transparent;
}

.modal-header{
    --ion-background-color: var(--ion-color-light);
    font-family: ‘Oswald’, sans-serif;
}

.admin-close-modal{
    color: var(--ion-color-light-contrast);
    font-family: ‘Oswald’, sans-serif;
}

.modal-title{
    color: var(--ion-color-light-contrast);
    font-family: ‘Oswald’, sans-serif;
}

.modal-content{
    --background: var(--ion-color-light-shade);
    font-family: ‘Oswald’, sans-serif;
}

.light-bg{
    background-color: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
    padding: 10px;
}