.admin-content{
    --background: url(../../assets/Walktober-graphic.png) center top;
}

.admin-col {
    background-color: var(--ion-color-light);
    border: solid 1px var(--ion-color-light-contrast);;
    color: var(--ion-color-light-contrast);
    text-align: center;
    vertical-align: middle;
    --ion-grid-columns: 16;
}

.invis-announcements{
    border: solid 0px #fff;
    background-color: #98a140;
    text-align: center;
    vertical-align: middle;
}

.header-col{
    font-weight: bolder;
    background-color: var(--ion-color-medium);
    border: solid var(ion-border-radius) var(--ion-color-light-contrast);;
    color: var(--ion-color-light-contrast);
}

.full-grid{
    --ion-grid-width: 100%;
}

.grid-title{
    color: var(--ion-color-light-contrast);
    font-weight: bold;
    font-family: ‘Oswald’, sans-serif;
    background-color: var(--ion-color-light);
    border: solid 1px var(--ion-color-light-contrast);
}

.transparent-item{
    --ion-background-color: transparent;
}

.admin-button{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    font-weight: bold;
}

.admin-button-small{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

.modal-button{
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    bottom: 10px;
    right: 0;
}

.invis-grid-col{
    border: solid 0px #fff;
    background-color: transparent;
}

.modal-header{
    --ion-background-color: var(--ion-color-light);
}

.admin-close-modal{
    color: var(--ion-color-light-contrast);
}

.modal-title{
    color: var(--ion-color-light-contrast);
}

.modal-content{
    --ion-background-color: var(--ion-color-tertiary);
}