.admin-button{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    --background: #e17e26;
}

.modal-button{
    --background: #e17e26;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    bottom: 10px;
    right: 0;
}

.invis-grid-col{
    border: solid 0px #fff;
    background-color: #4d5123;
}

.header-col{
    background-color: #98a140;
}