.page-background {
  --background: url(../../assets/Walktober-graphic.png);
  background-color: #E27F26;
  background-size: cover;
  .page-title{
    text-align: center;
    font-size: 40px;
    margin: 10px;
  }

  ion-img {
    align-items: center;
    padding: 20px;
    object-fit: contain;
    max-width: 90%;

  }
  b {
    white-space: pre;
  }
}

.link {
  white-space: pre;
}