.loginHomeButton {
  --background: #93e9be;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: blue;

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
  right: 0px;
}

.team-card {
  --color: var(--ion-color-light-contrast);
}

.step-title {
  margin: 0 0 10px 0;
}

.step-counter {
  font-size: 2em;
  text-align: center;
}

.boxSize {
  width: 500px;
  height: 80vh;
}

.testing {
  --background: url(../../assets/Walktober-graphic.png);
}

.profileButton {
  float: right;
}

.box-test {
  height: 75.8vh;
  margin-top: -75vh;
}

.personalProgress {
  width: 100%;
  height: 15vh;
}

.restrict-height {
  max-height: 90vh;
}

@media (max-width: 991px) {
  .box-test {
    margin-top: -75vh;
  }
  .personalProgress {
    height: auto;
  }
}

@media (max-width: 575px) {
  .box-test {
    margin-top: 0vh;
    height: 80vh;
  }
  .personalProgress {
    height: auto;
  }
}

@media (prefers-color-scheme: light) {
  .link-color {
    color: darkgreen;
  }
}