.loginHomeButton {
  --background: #93e9be;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: blue;

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
  right: 0px;
}

.boxSize {
  width: 500px;
  height: 80vh;
}

.testing {
  --background: url(../../assets/Walktober-graphic.png);
}

.profileButton {
  float: right;
}

.localStepsUpdater {
  display: inline;
  background: grey;
  border-radius: 15%;
  border-color: black;
  border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  text-align: center;
  padding-bottom: 0.1em;
}

.leaderBoard {
  width: 100%;
  height: 80vh;
}

.box-test {
  height: 80vh;
  margin-top: -55vh;
}

.personalProgress {
  width: 100%;
  height: 15vh;
}

.todaysSteps {
  padding-left: 1em;
}

@media (max-width: 991px) {
  .box-test {
    margin-top: -75vh;
  }
  .personalProgress {
    height: auto;
  }
}

@media (max-width: 575px) {
  .box-test {
    margin-top: 0vh;
    height: 80vh;
  }
  .personalProgress {
    height: auto;
  }
}
